body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  color: #209cee;
}

h2 {
  color: #209cee;
}

h3 {
  color: #209cee;
}

.color-light-blue {
  color: #209cee;
}

.inline {
  display: inline;
}

li span {
  display: block;
  font-size: 50px;
  font-weight: bold;
}

.count-down-timer {
  display: block;
  list-style-type: disc;
  text-transform: uppercase;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.count-down-timer-element {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.count-down-timer-unit {
  font-size: 14px;
}

.episodes-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 80px;
  margin: 100px 0;
}

.episode-block {
  color: black;  
  height: 60px;
  position: relative;
  width: 100vw;
}

.episode-block .episode-ribbon {
  position: absolute;
  z-index: 1;
  background-attachment: fixed;
}

.episode-content {
  position: absolute;
  width: 100vw;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 100;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.episode-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  width: 60vw;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
}

.episode-details {
  position: absolute;
  top: 50px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 60vw;
  padding: 5px;
  color: white;
}
.episode-ribbon-number2-index0 {
  left: 0;
  height: 50px;
  width: 90vw;
}
.episode-ribbon-number1-index0 {
  top: 50px;
  right: 10vw;
  width: 50px;
  height: 360px;
}
.episode-ribbon-number3-index0 {
  top: 360px;
  right: 0;
  width: 10vw;
  height: 50px;
}

.episode-ribbon-number2-index1 {
  right: 0;
  height: 50px;
  width: 80vw;
}
.episode-ribbon-number1-index1 {
  top: 210px;
  left: 0vw;
  width: 20vw;
  height: 50px;
}
.episode-ribbon-number3-index1 {
  top: 50px;
  left: 20vw;
  width: 50px;
  height: 210px;
}

.episode-ribbon-number2-index2 {
  left: 0;
  height: 50px;
  width: 100vw;
}
.episode-ribbon-number1-index2, .episode-ribbon-number3-index2 {
  visibility: hidden;
}

.episode-ribbon-number2-index3 {
  left: 0;
  height: 50px;
  width: 70vw;
}
.episode-ribbon-number1-index3 {
  top: 50px;
  right: 30vw;
  width: 50px;
  height: 70px;
}
.episode-ribbon-number3-index3 {
  top: 70px;
  right: 0;
  width: 30vw;
  height: 50px;
}

.episode-ribbon-number2-index4 {
  left: 0;
  height: 50px;
  width: 100vw;
}
.episode-ribbon-number1-index4, .episode-ribbon-number3-index4 {
  visibility: hidden;
}

.episode-ribbon-number2-index5 {
  right: 0;
  height: 50px;
  width: 80vw;
}
.episode-ribbon-number1-index5 {
  top: 370px;
  left: 0vw;
  width: 20vw;
  height: 50px;
}
.episode-ribbon-number3-index5 {
  top: 50px;
  left: 20vw;
  width: 50px;
  height: 370px;
}

.episode-ribbon-number2-index6 {
  right: 0;
  height: 50px;
  width: 70vw;
}
.episode-ribbon-number1-index6 {
  top: 50px;
  left: 30vw;
  width: 50px;
  height: 70px;
}
.episode-ribbon-number3-index6 {
  top: 70px;
  left: 0;
  width: 30vw;
  height: 50px;
}

.episode-ribbon-number2-index7 {
  left: 0;
  height: 50px;
  width: 100vw;
}
.episode-ribbon-number1-index7, .episode-ribbon-number3-index7 {
  visibility: hidden;
}

/* 
@media screen and (max-width: 1400px) {
  .episode-block {
    flex: 45%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
*/
@media screen and (max-width: 700px) {
  /* .episode-block {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex: 90%;
  } */

  .episodes-watch-order {
    font-size: 24px;
  }

  .introduction {
    margin-left: 10px;
    margin-right: 10px;
  }

  .introduction-line {
    margin-bottom: 10px;
  }

  .episodes-watch-order-introduction {
    margin-left: 10px;
    margin-right: 10px;
  }

  .episodes-watch-order-introduction-line {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .episode-header {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 401px) {
  .episode-header {
    padding: 10px;
  }
}

@media screen and (min-width: 701px) {
  .episodes-watch-order {
    font-size: 30px;
  }
}

.episodes-watch-order-introduction {
  margin-bottom: 10px;
}

.episode-header > div {
  display: inline;
}

.episode-locked {
  float: left;
  cursor: not-allowed;
}

.episode-arrow {
  background: transparent;
  border: 0;
  font-size: 20px;
  vertical-align: middle;
  line-height: 20px;
  padding: 0px;
  margin: 2px;
}

.episode-up {
  float: left;
  cursor: pointer;
}

.episode-down {
  float: right;
  cursor: pointer;
}

.bg-color-yellow {
  background-image: linear-gradient(45deg, yellow 0%, gold 100%);
}

.bg-color-green {
  background-image: linear-gradient(45deg, green 0%, limegreen 100%);
  color: white;
}

.bg-color-blue {
  background-image: linear-gradient(45deg, blue 0%, skyblue 100%);
  color: white;
}

.bg-color-violet {
  background-image: linear-gradient(45deg, violet 0%, purple 100%);
  color: white;
}

.bg-color-orange {
  background-image: linear-gradient(45deg, orange 0%, orangered 100%);
  color: white;
}

.bg-color-red {
  background-image: linear-gradient(45deg, red 0%, crimson 100%);
  color: white;
}

.bg-color-pink {
  background-image: linear-gradient(45deg, pink 0%, rgb(247, 60, 154) 100%);
  color: white;
}

.bg-color-white {
  background-image: linear-gradient(45deg, white 0%, rgb(223, 223, 223) 100%);
  color: black;
}

.episodes-emoji {
  display: inline;
}

.basic-button {
  font-size: 14px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.sort-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons {
  margin-bottom: 10px;
  margin-top: 5px;
}

.button-enabled {
  background-color: #1f79e8;
  cursor: pointer;
}

.button-disabled {
  background-color: gray;
  cursor: not-allowed;
}

.inline-block {
  display: inline-block;
}

.share-range {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.share-range-text {
  font-size: 16px;
}

.link-netflix {
  color: white;
}
